li {
  min-width: 75px;
  min-height: 75px;
}

.purchased {
  transform: rotate(10deg);
}

.shake img {
    animation: jiggle 0.2s infinite;
    transform: rotate(-3deg);
    animation-iteration-count: 10;
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}